<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/rabbit
    http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <!--声明连接工厂-->
    <rabbit:connection-factory id="connectionFactory" host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}"
                               password="${rabbitmq.password}" virtual-host="${rabbitmq.vhost}"/>
    <!--创建管理器org.springframework.amqp.rabbit.core.RabbitAdmin，用于管理交换，队列和绑定。
    auto-startup 指定是否自动声明上下文中的队列,交换和绑定, 默认值为true。-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <rabbit:template id="amqpTemplate" connection-factory="connectionFactory" exchange="rabbit.test.exchange"/>

    <rabbit:queue name="rabbit.test.queue" durable="true" exclusive="false" auto-delete="false"/>
    
    <rabbit:topic-exchange name="rabbit.test.exchange">
        <rabbit:bindings>
            <rabbit:binding queue="rabbit.test.queue" pattern="rabbit.test.key"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>
    
</beans>
